#page-landing {
  height: 100vh;
  width: 100vw;
  padding: 20px;

  /* background: linear-gradient(329.54deg, #5080D6 0%, #8DFFC8 100%); */
  /* background: linear-gradient(329.54deg, #192A48 0%, #5080D6 100%); */
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "logo logo logo location"
    "main main form form"
    ". . . enter-app"
  ;
}

.logo { grid-area: logo; }
.main-text-grid { grid-area: main; display: flex; align-items: center; }
.user-form-grid { grid-area: form; display: flex; justify-content: flex-end; }
.location-grid { grid-area: location; display: flex; justify-content: flex-end; }
.enter-app-grid { grid-area: enter-app; display: flex; justify-content: flex-end; align-items: flex-end; }

#page-landing .content-wrapper main {
  max-width: 600px;
}

#page-landing .content-wrapper main h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 70px;
}

.content-wrapper .location-text {
  font-size: 24px;
  line-height: 34px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;

  text-align: right;
}

.content-wrapper .enter-app {
  width: 80px;
  height: 80px;
  background: #F7F9FC;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.4s;
}

.content-wrapper .enter-app:hover {
  background: #D3E2E5;
}

form.user-form .input-block + .input-block {
  margin-top: 24px;
}

form.user-form .input-block label {
  display: flex;
  color: #F5F8FA;
  margin-bottom: 8px;
  line-height: 24px;
}

form.user-form .input-block input {
  height: 64px;
  padding: 0 16px;

  width: 420px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}